.b-calculate {
  width: 90%;
  margin: 100px auto 0 auto;
  background: #fff;
  border-radius: 10px;
  color: #000;
  box-shadow: 0 0 10px #000;
}
h3 {
  background: url("../img/bg-nav.jpg");
  font-size: 20px;
  margin: 0 0 30px 0;
  text-align: center;
  color: #dad826;
  text-shadow: 1px 1px 1px #000;
  padding: 20px;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 5px 2px #8c8c8c;
}
.input-group {
  margin: 10px 0;
  padding: 0 10px;
}
.input-group:before,
.input-group:after {
  content: " ";
  display: table;
}
.input-group:after {
  clear: both;
}
.input-group:before,
.input-group:after {
  content: " ";
  display: table;
}
.input-group:after {
  clear: both;
}
label {
  display: block;
  float: left;
  width: 50%;
  line-height: 20px;
    font-size: 20px;
}
input[type="text"] {
  float: right;
}
.btn-calculate {
  width: 50%;
  float: right;
  background: #804a0b;
  background: -moz-linear-gradient(top, rgba(150, 89, 17, 0.8) 0%, rgba(128, 74, 11, 0.8) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(150, 89, 17, 0.8)), color-stop(100%, rgba(128, 74, 11, 0.8)));
  background: -webkit-linear-gradient(top, rgba(150, 89, 17, 0.8) 0%, rgba(128, 74, 11, 0.8) 100%);
  background: -o-linear-gradient(top, rgba(150, 89, 17, 0.8) 0%, rgba(128, 74, 11, 0.8) 100%);
  background: -ms-linear-gradient(top, rgba(150, 89, 17, 0.8) 0%, rgba(128, 74, 11, 0.8) 100%);
  background: linear-gradient(to bottom, rgba(150, 89, 17, 0.8) 0%, rgba(128, 74, 11, 0.8) 100%);
}
